### Is there a difference in gas prices for each year?
    - Quantify the difference

### Has my driving gotten more fuel efficient?
    - How much?
    - How much money did this save?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
#read in the data
df = pd.read_csv('data/GasData.csv')
df.head()

       Date    Cost     Gal   Mile
0  06/16/17  $10.37   4.052   83.4
1  06/19/17  $15.29   7.426  194.7
2  07/14/17  $21.21  10.567  274.8
3   7/24/17  $24.53  12.269  254.1
4   8/18/17  $19.42   9.081  163.3

In [3]:
#cost needs to be a float
df['Cost'] = df['Cost'].str.replace('$','')
df['Cost'] = df['Cost'].map(lambda x: float(x))

In [4]:
#make price per gal column and mile per gal column
df['Price_per_Gallon'] = df['Cost'] / df['Gal']
df['Mile_per_Gallon'] = df['Mile'] / df['Gal']
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              91 non-null     object
 1   Cost              91 non-null     float64
 2   Gal               91 non-null     float64
 3   Mile              91 non-null     float64
 4   Price_per_Gallon  91 non-null     float64
 5   Mile_per_Gallon   91 non-null     float64
dtypes: float64(5), object(1)
memory usage: 4.4+ KB

In [5]:
#make year column
df['Year'] = df['Date'].map(lambda x: x[-2:])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              91 non-null     object
 1   Cost              91 non-null     float64
 2   Gal               91 non-null     float64
 3   Mile              91 non-null     float64
 4   Price_per_Gallon  91 non-null     float64
 5   Mile_per_Gallon   91 non-null     float64
 6   Year              91 non-null     object
dtypes: float64(5), object(2)
memory usage: 5.1+ KB

In [6]:
#make year dfs
#2017
df_2017 = df.loc[df['Year'] == '17']
df_2017

df_2018 = df.loc[df['Year'] == '18']
df_2019 = df.loc[df['Year'] == '19']
df_2020 = df.loc[df['Year'] == '20']
df_2021 = df.loc[df['Year'] == '21']

In [7]:
year_frames = [df_2017,df_2018,df_2019,df_2020,df_2021]
yr = 2017

for year in year_frames:
    year.size
    print(f'The size of {yr} is {year.size}')
    yr +=1

The size of 2017 is 63
The size of 2018 is 203
The size of 2019 is 196
The size of 2020 is 140
The size of 2021 is 35

In [8]:
#im gonna compare 2018 and 2019 bc their sizes are similar